@import "tailwindcss";
@import "@nuxt/ui";

@theme static {

/* 设计系统颜色变量 */
--color-senix-blue: #44687D;
--color-senix-orange: #E24912;
--color-senix-grey: #575A5D;
  /* --ui-container: 1200px; */
  /* --color-primary: #57b878; */
  --color-primary: var(--color-senix-blue); /* senix-blue 作为主色调,显得更专业和可靠 */
  --color-success: #007c4d;
  --color-info: var(--color-senix-orange); /* senix-orange 作为信息色,能够突出重要信息 */
  --color-secondary: var(--color-senix-grey); /* senix-grey 作为次要色调 */
  --ui-text: #000;
}
@layer components {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}
.ql-align-right img,.ql-align-center img,.ql-align-left img{
display: inline-block;
}
